.form {
    padding: 30px 0;
    background-color: $color-primary;

    &__container {
        display: grid;
        grid-gap: 20px;
        @extend %container;
        
    @include lg-min {
        grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
        grid-template-columns: 1fr 1fr;
    }

    @include sm {
        grid-template-columns: 1fr;
    }
}

    .btn-accent {
        background-color: rgba($color-light, 0.1);
        width: 100%;
        border-color: rgba($color-light, 0);
        border-bottom-color: rgba($color-light, 0.2);

        &:hover,
        &:focus {
            background-color: $color-accent;
            border-color: $color-light;
        }
    }
}

.form-item {
    &__input {
        display: block;
        width: 100%;
        height: 60px;
        padding-left: 30px;
        padding-right: 30px;
        border: 2px solid rgba($color-light, 0);
        border-bottom-color: rgba($color-light, 0.25);
        background-color: rgba($color-light, 0.05);
        color: $color-light;
        font-size: 1.125rem;
        letter-spacing: 0.15em;
        transition: background-color .5s, border-color 0.5s;

        &::placeholder {
            color: $color-gray;
            transition: color 0.5s;
        }

        &:hover,
        &:focus {
            background-color: rgba($color-light, 0.15);
            border-color: rgba($color-light, 0.15);
            border-bottom-color: $color-light; 

            &::placeholder {
                 color: #8c9bab;
             }
        }

    }
    &:nth-of-type(1) {
        @include md-sm {
            grid-column: 1 / span 2;
        }
    }
}


