
@import '../../libs/normalize-scss/sass/normalize/import-now';
@import 'skin';
@import 'variables';
@import 'mixins';
@import 'mixins-media';
@import 'extends';

@import 'common';
@import 'header/header';
@import 'header/header-overlay';
@import 'header/header-menu';
@import 'header/header-logo';
@import 'header/header-navbar';
@import 'header/header-content';

@import 'sections/section-skills/skills';
@import 'sections/section-skills/skills_item';
@import 'sections/section-about';
@import 'sections/section-form';
@import 'sections/section-posts';

@import 'footer';


.about {
    background-color: $color-gray-light;
    padding-top: 100px;
    padding-bottom: 100px;
    letter-spacing: 0.055em;
}
.about__container {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 271px;
    @extend %container;
}
h2 {
    letter-spacing: 0.1em;
    color: $color-primary;
    font-family: "Roboto Slab", serif;
    line-height: 1.2em;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 56px;
}
p {
    color: $color-gray;
    font-size: 1.125rem;
}
p:first-of-type {
    margin-top: -5px;
}
p:first-of-type:after {
    right: -50px;
    position: absolute;
    top: 0;
    width: 2px;
    height: 200px;
    content: "";
}
.about__image {
    display: grid;
    align-content: center;
    justify-items: center;
}
.about__image img {
    max-width: 100%;
    max-height: 480px;
}
