.post-item {

    background-color: $color-gray-medium;

    transition: background-color .5s;

    &:hover
    {
            background-color: $color-hover-posts;

        .post-item__image img
        {
            transform: scale(1.1);
        }

        h3, p {
            color: $color-primary;
        }
    }

    &__link {
        display: grid;
        height: 100%;
        overflow: hidden;
        grid-template-rows: 300px 1fr;

    }

    &__image
    {
        display: flex;
        overflow: hidden;
        align-content: center;
        justify-content: center;
        background-color: $color-primary;

        img {
        width: 100%;
        transition: transform .5s;
        object-fit: cover;
        }
    }

    &__content {
        display: grid;
        align-content: center;
        padding: $gap;

        p {
            transition: color 0.5s;
            text-align: center;
        }
    }

    &__title {
        transition: color 0.5s;
        text-align: center;
        font-family: "Roboto Slab", serif;
        letter-spacing: 0.05em;
        color: $color-gray;
        font-size: 1.125rem;
    }
}

@for $i from 1 through 6
{
    .post-item:nth-of-type(#{$i})
    {
        grid-area: b#{$i};
    }
}